* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
}
a{
  text-decoration: none;
  color:black;
}
body{
  font-family: 'interregular';
}
h1{
  font-size: 94px;
  font-family: 'interbold';
}
h2{
  font-size: 67px;
  font-family: 'interbold';
}
h3{
  font-size: 45px;
  font-family: 'interbold';
}
h4{
  font-size: 43px;
  font-family: 'interbold';
}
h5{
  font-size: 40px;
}
h6{
  font-size: 28px;
}

@font-face {
  font-family: 'interbold';
  src: url('./assets//fonts/Inter-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'interregular';
  src: url('./assets//fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'intersemibold';
  src: url('./assets//fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


